{% extends "App/padre.html" %}

{% load static %}

{% block logo %}
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Bienvenidos al Blog!</h1>
            <p class="lead mb-0">Un proyecto para la entrega final de CoderHouse</p>
        </div>
    </div>
</header>
{% endblock %}

{% block body %}

<div class="container">
        <!-- Blog entries-->
            <!-- Nested row for non-featured blog posts-->
            {% if blogposts %}
                <div class="row">
                    {% for blogpost in blogposts%}
                        <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                {% if user.is_authenticated %}
                                    {% if user.is_staff or user == blogpost.author %}
                                        <a href="{% url 'UpdatePost' blogpost.id %}"><img src="https://img.icons8.com/bubbles/50/null/edit.png"/></a>
                                        <a href="{% url 'DeletePost' blogpost.id %}"><img src="https://img.icons8.com/bubbles/50/null/delete-forever.png"/></a>
                                        {% endif %}
                                {% endif %}
                                <h2 class="card-title">{{ blogpost.title }}</h2>
                                <h4 class="card-title h4">{{ blogpost.subtitle }}</h4>
                                <div class="small text-muted">{{ blogpost.category }}</div>
                                <p class="card-text">{{ blogpost.content }}</p>
                                <p class="card-text">Publication Date: {{ blogpost.publication_date }}</p>
                                <p class="card-text">Author: {{ blogpost.author }}</p>
                                {% if blogpost.image %}
                                    <img src="{{ blogpost.image.url }}" alt="Image" class="img-fluid">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
            {% else %}
                <div class="text-center my-5">
                    <h1>{{message}}</h1>
                </div>
            {% endif %}
</div>

{% endblock %}