{% extends "App/padre.html" %}

{% load static %}

{% block logo %}
{% endblock %}

{% block body %}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1>Buscar posteo</h1>
                <form action="{% url 'SearchPost' %}" method="GET">
                    <h3>Palabra clave para buscar en el título: </h3>
                    <table>
                        <input type="text" name="title" placeholder="Palabra clave" id="title">
                    </table>
                    <input type="submit" value="search">
                </form>
            </div>
        </div>
    </header>
{% endblock %} 